node_modules/
dist/
dist-electron/
out/
.vite/
.venv/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

coverage/
.cache/
.eslintcache

.env
.env.*
*.asar
recordings/
output/
*.mp4

# Python cache
__pycache__/
*.py[cod]

